# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo


# Virtual environments
venv/
.env/
.venv/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Your custom folders/files
videos/
images/
*.png
ai-grok-video-generation-automation.py